<h1>Your Wine Collection Consists of the Below Countries</h1>
<table>
  <tr>
     <th>Country</th>
     <th>Number of wines</th>
  </tr>
  <tr>
    <% @countries.each do |c| %>
        <td><%= c.name %></td>
        <td><%= c.wines.count %></td>
 </tr>
    <% end %>
 </table>
