<h1>Your wine collection consists of the following countries:</h1>
<table>
  <tr>
     <th>Country</th>
     <th>Number of wines</th>
  </tr>
  <tr>
    <% @countries.uniq.each do |c| %>
        <td><%= link_to c.name, country_wines_path(c.id) %></td>
        <td><%= c.wines.count %></td>
 </tr>
    <% end %>
 </table><br/>


 
