/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- Welcome Page Styles --- */
 body {
    background-image: url(https://img.favpng.com/9/3/1/wine-background-png-favpng-mCg35t30uWBFCMTYp9ESX4ZZ7.jpg);
    background-color: lightblue;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  h1 { text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif; }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  h3 { text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; }

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
  td, th {
      border: 1px solid #0D0606;
      text-align: left;
      padding: 8px;
    }
    
  tr:nth-child(even) {
      background-color: #FAFAD2;
    }

    tr:nth-child(odd) {
      background-color: #c0c0c0;
    }

.errors {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: crimson;
}

.show { text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0D0606;
  background: #FAFAD2;}

 
