<h3>You have the following wines from <%= @country.name %>:</h3>
<ul>
<% @wines.where(country_id: @country.id, user_id: @current_user.id).each do |wine| %> 
        <li><%= link_to wine.title, country_wine_path(@country.id, wine.id) %></li>
<% end %>
</ul>

  <%= link_to "View All Countries in your Collection", countries_path %> |

  <%= link_to "Add a new Wine to #{@country.name}", new_country_wine_path(@country) %>


